<!DOCTYPE html>
	<div id="hat">
		<h1>Задачи</h1>
		<a id="add_todo" href="#"><%= image_tag "addTodoIcon.png" %></a>
	</div>
<div class="allscreen">
	<% @projects.each do |project| %>
			<div class="col-sm-12 col-xs-12 col-md-6 col-lg-4">
				<div class="row">
					<div class="projectDiv">
						<h2><%= project["title"]  %></h2>
						<% project.todos.each do |todo| %>
							<%= form_for todo do |f| %>
					  		<input type="checkbox" <%= if todo.isCompleted then "checked" else end %>> <label><%= todo["text"] %></label> <br>
					  		<%end%>
						<% end %>
					</div>		
				</div>
			</div>
		</div>
	<% end %>

	<div id="new_todo">
		<h3> Новая задача </h3>
		<%= form_for @tmp do |f|%>
			<input type="text" name="text" class="todoTextField" placeholder="Название задачи..." ><br>
			<select name="projTitle" class="select2-selection">
				<% @projects.each do |project| %>
					<option> <%= project["title"] %> </option>
				<% end %>
			</select><br>
			<table>
				<th id="submit_button">ОК </th>
				<th id="hide_button">Отмена </th>
			</table>

		<% end %>
	</div>
</div>	
</html>